In [31]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [32]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Saldanha,ZA,2022-01-25 00:25:59,-33.0117,17.9442,64.45,95,11,19.62
1,1,Tuktoyaktuk,CA,2022-01-25 00:26:00,69.4541,-133.0374,14.00,92,100,13.80
2,2,Rognac,FR,2022-01-25 00:26:00,43.4876,5.2339,46.33,93,0,1.14
3,3,Senno,RU,2022-01-25 00:26:00,59.5336,33.9167,21.25,94,100,10.96
4,4,Mataura,NZ,2022-01-25 00:26:01,-46.1927,168.8643,60.48,48,59,4.76

In [33]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [34]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [43]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure()
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [42]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [46]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [47]:
# Heatmap of speed wind speed.
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [50]:
# Ask customer
min_temp = float(input("What is the minimum temperature you would like for your vacay? "))
max_temp = float(input("What is the maximum temperature you would like for your vacay? "))

What is the minimum temperature you would like for your vacay? 75
What is the maximum temperature you would like for your vacay? 90

In [51]:
# Filter the dataset to find the cities that fit the criteria.
preferred_temps_df = city_data_df.loc[(city_data_df ["Max Temp"] <= max_temp) & 
                                      (city_data_df ["Max Temp"] >= min_temp)]
preferred_temps_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kapaa,US,2022-01-25 00:26:01,22.0752,-159.3190,78.78,64,75,3.00
7,7,Mahebourg,MU,2022-01-25 00:23:00,-20.4081,57.7000,77.29,65,40,12.66
8,8,Vila Velha,BR,2022-01-25 00:26:02,-20.3297,-40.2925,78.75,83,20,4.61
13,13,Hilo,US,2022-01-25 00:25:26,19.7297,-155.0900,80.33,60,20,10.36
15,15,Rikitea,PF,2022-01-25 00:26:05,-23.1203,-134.9692,78.46,73,100,18.16
18,18,Saint-Philippe,RE,2022-01-25 00:23:35,-21.3585,55.7679,76.59,66,61,14.12
19,19,Bonthe,SL,2022-01-25 00:24:32,7.5264,-12.5050,77.63,84,65,4.18
20,20,Kiunga,PG,2022-01-25 00:26:06,-6.1219,141.2906,81.97,77,100,3.09
25,25,Georgetown,MY,2022-01-25 00:26:08,5.4112,100.3354,80.53,92,40,2.30
26,26,Belmonte,BR,2022-01-25 00:26:08,-15.8631,-38.8828,77.50,82,96,3.29

In [55]:
preferred_temps_df.notnull().sum()

City_ID       143
City          143
Country       141
Date          143
Lat           143
Lng           143
Max Temp      143
Humidity      143
Cloudiness    143
Wind Speed    143
dtype: int64

In [56]:
preferred_temps_df=preferred_temps_df.dropna()
preferred_temps_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Kapaa,US,2022-01-25 00:26:01,22.0752,-159.3190,78.78,64,75,3.00
7,7,Mahebourg,MU,2022-01-25 00:23:00,-20.4081,57.7000,77.29,65,40,12.66
8,8,Vila Velha,BR,2022-01-25 00:26:02,-20.3297,-40.2925,78.75,83,20,4.61
13,13,Hilo,US,2022-01-25 00:25:26,19.7297,-155.0900,80.33,60,20,10.36
15,15,Rikitea,PF,2022-01-25 00:26:05,-23.1203,-134.9692,78.46,73,100,18.16
18,18,Saint-Philippe,RE,2022-01-25 00:23:35,-21.3585,55.7679,76.59,66,61,14.12
19,19,Bonthe,SL,2022-01-25 00:24:32,7.5264,-12.5050,77.63,84,65,4.18
20,20,Kiunga,PG,2022-01-25 00:26:06,-6.1219,141.2906,81.97,77,100,3.09
25,25,Georgetown,MY,2022-01-25 00:26:08,5.4112,100.3354,80.53,92,40,2.30
26,26,Belmonte,BR,2022-01-25 00:26:08,-15.8631,-38.8828,77.50,82,96,3.29

In [59]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_temps_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5            Kapaa      US     78.78  22.0752 -159.3190
7        Mahebourg      MU     77.29 -20.4081   57.7000
8       Vila Velha      BR     78.75 -20.3297  -40.2925
13            Hilo      US     80.33  19.7297 -155.0900
15         Rikitea      PF     78.46 -23.1203 -134.9692
18  Saint-Philippe      RE     76.59 -21.3585   55.7679
19          Bonthe      SL     77.63   7.5264  -12.5050
20          Kiunga      PG     81.97  -6.1219  141.2906
25      Georgetown      MY     80.53   5.4112  100.3354
26        Belmonte      BR     77.50 -15.8631  -38.8828

In [65]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Kapaa,US,78.78,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
7,Mahebourg,MU,77.29,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
8,Vila Velha,BR,78.75,-20.3297,-40.2925,Quality Suites Vila Velha
13,Hilo,US,80.33,19.7297,-155.0900,Hilo Hawaiian Hotel
15,Rikitea,PF,78.46,-23.1203,-134.9692,People ThankYou
18,Saint-Philippe,RE,76.59,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
19,Bonthe,SL,77.63,7.5264,-12.5050,Bonthe Holiday Village
20,Kiunga,PG,81.97,-6.1219,141.2906,Airport Lodge Kiunga
25,Georgetown,MY,80.53,5.4112,100.3354,Cititel Penang
26,Belmonte,BR,77.50,-15.8631,-38.8828,Pousada Monte Carmelo O Pão

In [68]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))