## Deliverable 2. Create a Customer Travel Destinations Map.

In [3]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
0,0,Chulym,RU,55.0997,80.9572,-18.33,100,100,3.69,overcast clouds,2022-01-27 01:47:23
1,1,Sorong,ID,-0.8833,131.2500,84.52,71,97,7.87,overcast clouds,2022-01-27 01:42:50
2,2,Busselton,AU,-33.6500,115.3333,73.04,42,0,9.71,clear sky,2022-01-27 01:47:24
3,3,Ballina,AU,-28.8667,153.5667,80.78,68,75,10.36,broken clouds,2022-01-27 01:47:24
4,4,Corrales,US,35.2378,-106.6067,39.88,60,1,1.99,clear sky,2022-01-27 01:47:25

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation? "))
max_temp = float(input("What is the maximum temperature you would like for your vacation? "))

What is the minimum temperature you would like for your vacation? 75
What is the maximum temperature you would like for your vacation? 95

In [9]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_temps_df = city_data_df.loc[(city_data_df ["Max Temp"] <= max_temp) & 
                                      (city_data_df ["Max Temp"] >= min_temp)]
preferred_temps_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Sorong,ID,-0.8833,131.2500,84.52,71,97,7.87,overcast clouds,2022-01-27 01:42:50
3,3,Ballina,AU,-28.8667,153.5667,80.78,68,75,10.36,broken clouds,2022-01-27 01:47:24
7,7,Porto Novo,BJ,6.4965,2.6036,76.82,85,0,2.15,clear sky,2022-01-27 01:47:26
13,13,Pekan,MY,3.4836,103.3996,77.11,71,100,9.15,overcast clouds,2022-01-27 01:47:28
14,14,Miri,MY,4.4148,114.0089,77.14,94,40,0.00,scattered clouds,2022-01-27 01:47:28
24,24,Buala,SB,-8.1450,159.5921,82.67,74,100,5.53,light rain,2022-01-27 01:47:32
31,31,Avarua,CK,-21.2078,-159.7750,82.45,83,75,13.80,broken clouds,2022-01-27 01:47:34
35,35,Inhambane,MZ,-23.8650,35.3833,77.25,87,78,8.81,broken clouds,2022-01-27 01:44:09
44,44,Carnarvon,AU,-24.8667,113.6333,78.87,69,75,12.66,broken clouds,2022-01-27 01:47:38
55,55,Sawtell,AU,-30.3833,153.1000,79.12,74,100,6.91,overcast clouds,2022-01-27 01:48:42

In [10]:
# 4a. Determine if there are any empty rows.
preferred_temps_df.notnull().sum()

City_ID                155
City                   155
Country                154
Lat                    155
Lng                    155
Max Temp               155
Humidity               155
Cloudiness             155
Wind Speed             155
Current Description    155
Date                   155
dtype: int64

In [16]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_temps_df=preferred_temps_df.dropna()
preferred_temps_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Date
1,1,Sorong,ID,-0.8833,131.2500,84.52,71,97,7.87,overcast clouds,2022-01-27 01:42:50
3,3,Ballina,AU,-28.8667,153.5667,80.78,68,75,10.36,broken clouds,2022-01-27 01:47:24
7,7,Porto Novo,BJ,6.4965,2.6036,76.82,85,0,2.15,clear sky,2022-01-27 01:47:26
13,13,Pekan,MY,3.4836,103.3996,77.11,71,100,9.15,overcast clouds,2022-01-27 01:47:28
14,14,Miri,MY,4.4148,114.0089,77.14,94,40,0.00,scattered clouds,2022-01-27 01:47:28
24,24,Buala,SB,-8.1450,159.5921,82.67,74,100,5.53,light rain,2022-01-27 01:47:32
31,31,Avarua,CK,-21.2078,-159.7750,82.45,83,75,13.80,broken clouds,2022-01-27 01:47:34
35,35,Inhambane,MZ,-23.8650,35.3833,77.25,87,78,8.81,broken clouds,2022-01-27 01:44:09
44,44,Carnarvon,AU,-24.8667,113.6333,78.87,69,75,12.66,broken clouds,2022-01-27 01:47:38
55,55,Sawtell,AU,-30.3833,153.1000,79.12,74,100,6.91,overcast clouds,2022-01-27 01:48:42

In [17]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_temps_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sorong,ID,84.52,overcast clouds,-0.8833,131.2500,
3,Ballina,AU,80.78,broken clouds,-28.8667,153.5667,
7,Porto Novo,BJ,76.82,clear sky,6.4965,2.6036,
13,Pekan,MY,77.11,overcast clouds,3.4836,103.3996,
14,Miri,MY,77.14,scattered clouds,4.4148,114.0089,
24,Buala,SB,82.67,light rain,-8.1450,159.5921,
31,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,
35,Inhambane,MZ,77.25,broken clouds,-23.8650,35.3833,
44,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,
55,Sawtell,AU,79.12,overcast clouds,-30.3833,153.1000,

In [18]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sorong,ID,84.52,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
3,Ballina,AU,80.78,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
7,Porto Novo,BJ,76.82,clear sky,6.4965,2.6036,Tour Eiffel Hotel Benin
13,Pekan,MY,77.11,overcast clouds,3.4836,103.3996,Pekan Budget Hotel
14,Miri,MY,77.14,scattered clouds,4.4148,114.0089,"Mega Hotel, Miri"
24,Buala,SB,82.67,light rain,-8.1450,159.5921,Maringe Lagoon Lodge
31,Avarua,CK,82.45,broken clouds,-21.2078,-159.7750,Paradise Inn
35,Inhambane,MZ,77.25,broken clouds,-23.8650,35.3833,Oceano
44,Carnarvon,AU,78.87,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
55,Sawtell,AU,79.12,overcast clouds,-30.3833,153.1000,The Bungalow Sawtell

In [22]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna()
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
1,Sorong,ID,84.52,overcast clouds,-0.8833,131.2500,Waigo Splash Hotel
3,Ballina,AU,80.78,broken clouds,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron
7,Porto Novo,BJ,76.82,clear sky,6.4965,2.6036,Tour Eiffel Hotel Benin
13,Pekan,MY,77.11,overcast clouds,3.4836,103.3996,Pekan Budget Hotel
14,Miri,MY,77.14,scattered clouds,4.4148,114.0089,"Mega Hotel, Miri"
...,...,...,...,...,...,...,...
679,Limot,PH,82.42,scattered clouds,7.0405,126.2727,Buso Hot Spring
680,Mitsamiouli,KM,79.81,overcast clouds,-11.3847,43.2844,Foyer ADM
687,Martapura,ID,86.09,few clouds,-3.4167,114.8500,Montana Hotel Syariah
688,Lamu,KE,77.22,clear sky,-2.2717,40.9020,Lamu House
689,Biak,ID,82.56,overcast clouds,-0.9131,122.8766,Penginapan Kim

In [24]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [37]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F </dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.7)

In [38]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))